.heading h1 {
  margin-left: 100px;
  margin-top: -75px;
  pointer-events: none;
  z-index: 2;
}

.portrait {
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: 1;
}

.portrait .wrapper {
  width: 750px;
  height: 750px;
  position: relative;
  z-index: 1;
}

.bg_layer {
  background-color: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 500ms ease-out;
}

.image_overlay {
  opacity: 0;
  transition: all 500ms ease-out;
}

.portait:hover {
  z-index: 3;
}

.wrapper .image, .wrapper div {
  transition: all 500ms ease-out;
}

.portrait:hover .image, .portrait:hover .wrapper div, .portrait:hover .image_overlay {
}

.portait:hover .image_overlay {
  opacity: 1;
}

.text {
  margin: 610px 100px 100px 600px;
  z-index: 2;
  pointer-events: none;
  position: relative;
  max-width: 1100px;
}

.intro_text {
  font-size: 70px;
  font-family: var(--font-serif);
  line-height: 80px;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-right: 50px;
}

.body_text {
  margin-top: 60px;
}
.body_text p {
  color: #000;
  font-size: 60px;
  line-height: 70px;
  display: inline-block;
  transition: background-color 250ms ease-out;
  margin-top: 60px;
}

.body_text p:first-of-type {
  margin-top: 0px;
}

.awards {
  padding-top: 400px;
  position: relative;
  width: 100%;
}

.awards .wrapper {
  background-color: rgba(0, 0, 0, 0.09);
  margin: 0 200px;
  min-height: 480px;
  padding: 200px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.awards .h2_wrapper {
  position: absolute;
  left:100px;
  top: 200px;
  max-width: 800px;
}

.bio {
  margin: 50px 200px;
}

.bio a {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.09);
  color: #000;
  font-size: 60px;
  line-height: 70px;
  display: inline-block;
  text-align: center;
  padding: 50px 125px;
  transition: background-color 250ms ease-out;
}

.bio a:hover {
  background-color: rgba(0, 0, 0, 0.33);
}

@media screen and (max-width: 1919px) {
  .heading h1 {
    margin-left: 75px;
  }
  .portrait {
    left: 150px;
    top: 250px;
  }
  .portrait .wrapper {
    width: 400px;
    height: 400px;
  }
  .text {
    margin: 350px 75px 75px 400px;
  }
  .intro_text {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 6px;
    margin-right: 40px;
  }
  .body_text {
    margin-top: 50px;
  }
  .body_text p {
    font-size: 45px;
    line-height: 50px;
    margin-top: 50px;
  }
  .awards {
    padding-top: 350px;
  }
  .awards .wrapper {
    padding: 150px 75px 75px 75px;
    margin: 0 150px;
  }
  .awards .h2_wrapper {
    left: 75px;
    top: 150px;
  }
  .bio {
    margin: 50px 150px;
  }
  .bio a {
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 3px;
    padding: 50px 125px;
  }
}

@media screen and (max-width: 1279px) {
  .heading h1 {
    margin-left: 75px;
  }
  .portrait {
    left: 120px;
    top: 220px;
  }
  .portrait .wrapper {
    width: 350px;
    height: 350px;
  }
  .text {
    margin: 350px 75px 50px 300px;
  }
  .intro_text {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 4px;
    margin-right: 30px;
  }
  .body_text {
    margin-top: 40px;
  }
  .body_text p {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
  }
  .awards {
    padding-top: 250px;
  }
  .awards .wrapper {
    margin: 0 125px;
    padding: 130px 60px 60px 60px;
    row-gap: 25px;
  }
  .awards .h2_wrapper {
    top: 100px;
    max-width: 600px;
  }
  .bio {
    margin: 50px 125px;
  }
  .bio a {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 25px 75px;
  }
}

@media screen and (max-width: 1023px) {
  .heading h1 {
    margin-left: 50px;
  }
  .portrait {
    left: 50px;
    top: 175px;
  }
  .portrait .wrapper {
    width: 300px;
    height: 300px;
  }
  .text {
    margin: 300px 50px 50px 200px;
  }
  .intro_text {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 3px;
    margin-right: 30px;
  }
  .body_text {
    margin-top: 30px;
  }
  .body_text p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 22px;
  }
  .awards {
    padding-top: 225px;
  }
  .awards .wrapper {
    margin: 0 80px;
    min-height: 240px;
    padding: 80px 40px 40px 36px;
    row-gap: 25px;
  }
  .awards .h2_wrapper {
    top: 80px;
    max-width: 500px;
    left: 50px;
  }
  .bio {
    margin: 40px 80px;
  }
  .bio a {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 20px 50px;
  }
}

@media screen and (max-width: 767px) {
  .heading h1 {
    margin-left: 37px;
  }
  .portrait {
    left: 37px;
    top: 125px;
    position: relative;
    width: calc(100vw - 74px);
    height: calc(100vw - 74px);
  }
  .portrait .wrapper {
   max-width: 100%;
   max-height: 100%;
   width: 100%;
   height: 100%;
  }
  .text {
    margin: 150px 37px 37px 37px;
  }
  .intro_text {
    font-size: 24px;
    line-height: 27px;
    margin-right: 30px;
  }
  .body_text {
    margin-top: 30px;
  }
  .awards {
    padding-top: 200px;
    margin-top: 50px;
  }
  .awards .wrapper {
    margin: 0 40px 0 37px;
    min-height: 180px;
    padding: 37px 0px 0px 0px;
    row-gap: 10px;
    background-color: transparent;
  }
  .awards .h2_wrapper {
    top: 80px;
    max-width: 270px;
    left: 37px;
  }
  .bio {
    margin: 25px 37px;
  }
}