.main {
  padding: 0;
}

.main h1, .ya_books h2 {
  margin-left: 100px;
  margin-top: 0px;
}

.heading {
  position: relative;
  z-index: 2;
}

.ya_books h2 {
  max-width: 950px;
}

.books_grid {
  margin-top: 100px;
  width: 100%;
}

.row {
  position: relative;
  padding-top: 150px;
}

.books_grid .books {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  display: grid;
  column-gap: 4rem;
  margin-left: 100px;
}

.books_grid .background {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 400px;
  mix-blend-mode: multiply;
}

.books_grid .background .shelf {
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #DBDBDB 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%) 0% 0% no-repeat padding-box;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}

.books_grid .background .shelf:first-child {
  bottom: 200px;
}

.ya_books .row {
  padding-top: 0px;
}

.ya_books .books > div > div > img {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.ya_books svg path {
  opacity: 0;
}

.ya_books svg {
  background-color: rgba(142, 45, 45, 1);
}

@media screen and (max-width: 1919px) {
  .main h1, .ya_books h2 {
    margin-left: 75px;
  }
  .ya_books h2 {
    max-width: 800px;
  }
  .books_grid {
    margin-top: 50px;
  }
  .row {
    padding-top: 100px;
  }
  .books_grid .books {
    column-gap: 2rem;
    margin-left: 75px;
  }
  .books_grid .books > div {
    margin-left: 0px;
  }
  .books_grid .background {
    height: 300px;
  }
  .books_grid .background .shelf {
    height: 150px;
  }
  .books_grid .background .shelf:first-child {
    bottom: 150px;
  }
}

@media screen and (max-width: 1279px) {
  .ya_books h2 {
    max-width: 800px;
  }
  .books_grid {
    margin-top: 50px;
  }
  .row {
    padding-top: 100px;
  }
  .books_grid .books {
    column-gap: 8px;
    margin-left: 0px;
  }
  .books_grid .books > div {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .main h1, .ya_books h2 {
    margin-left: 50px;
  }
  .ya_books h2 {
    max-width: 500px;
  }
  .books_grid {
    margin-top: 40px;
  }
  .row {
    padding-top: 100px;
  }
  .books_grid .books {
    margin-left: 0px;
  }
  .books_grid .background {
    height: 160px;
  }
  .books_grid .background .shelf {
    height: 80px;
  }
  .books_grid .background .shelf:first-child {
    bottom: 80px;
  }
  .books_grid .books > div {
    margin-left: 25px;
  }
}

@media screen and (max-width: 767px) {
  .main h1 {
    margin-top: 0px;
  }
  .main h1, .ya_books h2 {
    margin-left: 37px;
  }
  .ya_books h2 {
    max-width: 300px;
  }
  .books_grid {
    margin-top: 125px;
  }
  .row {
    padding-top: 0px;
  }
  .books_grid .books {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .books_grid .background {
    display: none;
  }
  .books_grid .books > div {
    margin-left: 0px;
    margin-right: 0px;
    flex: 1;
    width: 100%;
    justify-content: center;
  }
}