.hero {
  margin: 100px 150px 100px 100px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero h1 {
  margin-bottom: 0;
  z-index: 1;
  max-width: 800px;
}

.cover_wrapper {
  height: 1050px;
  position: relative;
  z-index: 0;
}

.cover_image {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 500ms ease-out, -webkit-filter 500ms ease-out, mix-blend-mode 500ms ease-out;
}

.cover_image_overlay {
  opacity: 0;
  transition: all 500ms ease-out;
}


.cover_wrapper:hover {
  z-index: 3;
}

.cover_wrapper .cover_image, .cover_wrapper svg  {
  transition: transform 500ms ease-out;
}

.cover_wrapper:hover .cover_image, .cover_wrapper:hover svg, .cover_wrapper:hover .cover_image_overlay {
  transform: translateY(-10px);
}

.cover_wrapper:hover .cover_image_overlay {
  opacity: 1;
}

.intro {
  margin: 100px 175px 100px 600px;
}

.intro p {
  font-family: var(--font-serif);
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  line-height: 1;
}

.intro p:first-of-type {
  margin-top: 0px;
}

.intro_block {
  position: relative;
}

.intro_block p {
  position: relative;
  z-index: 2;
  margin-bottom: 80px;
  pointer-events: none;
}

.intro_block:nth-child(1) .intro_image_wrapper {
  right: -200px;
  bottom: 30px;
}

.intro_block:nth-child(1) .intro_image_wrapper_single {
  left: -630px;
  bottom: -350px;
}

.intro_block:nth-child(2) .intro_image_wrapper {
  left: -350px;
  bottom: -500px;
}

.intro_image_wrapper {
  position: absolute;
  max-width: 690px;
  z-index: 0;
  pointer-events: auto;
  transition: all 500ms ease-out;
}

.intro_image_wrapper_single {
  position: absolute;
  max-width: 820px;
  z-index: 0;
  pointer-events: auto;
  transition: all 500ms ease-out;
}

/* .intro_image_wrapper:hover, .intro_image_wrapper_single:hover {
  z-index: 3;
  cursor: pointer;
  background-color: #fff!important;
} */

.intro_image_wrapper img {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 500ms ease-out, -webkit-filter 500ms ease-out, mix-blend-mode 500ms ease-out;
}

.meta {
  font-family: var(--font-sans);
  color: #00000080;
  font-size: 40px;
  line-height: 1.2;
  white-space: pre-wrap;
  margin: 400px 150px 100px 150px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.meta h4 {
  color: #000;
  font-family: var(--font-sans);
}

.meta .date, .meta .publishers {
  width: 600px;
  align-self: end;
}

.meta .accolades {
  width: 915px;
  align-self: start;
  margin-left: 650px;
}

.visit {
  margin: 150px 150px 100px 100px;
}

.visit a {
  width: 100%;
  background-color: #00000009;
  color: #000;
  font-size: 60px;
  line-height: 70px;
  display: inline-block;
  text-align: center;
  padding: 50px 125px;
  transition: background-color 250ms ease-out;
}

.visit a:hover {
  background-color: #00000033;
}

.buy {
  margin: 400px 150px 0px 175px;
  min-height: 300px;
  background-color: #00000017;
  position: relative;
  padding: 200px 50px 250px 50px;
}

.buy h2 {
  position: absolute;
  left: -75px;
  top: -250px;
}

.buy .grid {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.buy h3 {
  font-size: 75px;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 7.5px;
  margin-bottom: 25px;
}

.buy .grid > div {
  border-left: 2px solid #fff;
  padding-left: 50px;
}

.buy .grid a {
  font-size: 40px;
  line-height: 50px;
  color: #000;
  text-decoration: underline;
  display: block;
}

.reviews {
  position: relative;
  width: 100%;
  margin-top: 250px;
}

.reviews h2 {
  position: absolute;
  left: 100px;
  top: -100px;
}

.reviews .arrow_icon svg {
  display: block;
  position: absolute;
  height: 100px;
  top: -78px;
  right: 100px;
  z-index: 4;
}

.reviews .grid {
  display: flex;
  flex-direction: row;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 200px;
  column-gap: 250px;
  overflow-x: scroll;
}

.reviews .grid::-webkit-scrollbar {
  display: none;
}

.reviews .grid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.excerpt {
  margin-top: 300px;
}

.excerpt .hidden {
  display: none;
}

.excerpt h2 {
  margin-left: 100px;
  margin-top: -50px;
}

.excerpt .text_wrapper {
  margin: 50px 275px 50px 250px;
}
.excerpt .text_wrapper p {
 font-size: 40px;
 letter-spacing: 2px;
 line-height: 50px;
 color: #000; 
}

.excerpt .text_wrapper button {
  color: #000000BF;
  font-size: 25px;
  letter-spacing: 1.25px;
  font-family: var(--sans);
  border: none;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
}

.excerpt .text_wrapper .text_more {
  display: none;
}

.gallery {
  margin-top: 350px;
  position: relative;
  width: 100%;
}

.gallery h2 {
  position: absolute;
  left: 100px;
  top: -75px;
  z-index: 2;
}

.gallery .arrow_icon svg {
  display: block;
  position: absolute;
  height: 100px;
  top: 25px;
  right: 100px;
  z-index: 4;
}

.gallery .grid {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 75px;
  column-gap: 150px;
  overflow-x: scroll;
}

.gallery .grid::-webkit-scrollbar {
  display: none;
}

.gallery .grid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.links {
  margin-top: 300px;
}

.links h2 {
  margin-left: 100px;
}

.links .list {
  margin: 100px 275px;
  display: flex;
  flex-direction: column;
}

.links .list a {
  font-size: 60px;
  line-height: 80px;
  color: #000;
}

.links .list svg {
  height: 60px;
}

/* BREAKPOINTS */
@media screen and (max-width: 1919px) {
  .hero {
    margin: 75px 100px 100px 75px;
  }
  .hero h1 {
    line-height: 1;
    margin-bottom: 0;
  }
  .cover_wrapper {
    height: 90vh;
  }
  .intro {
    margin: 300px 150px 100px 500px;
    margin: 0 150px;
    padding: 150px 75px 75px 75px;
  }
  .intro p {
    font-size: 55px;
    letter-spacing: 5.5px;
    margin-top: 35px;
    line-height: 1.2;
  }
  .intro_block p {
    margin-bottom: 50px;
  }
  .intro_block:nth-child(1) .intro_image_wrapper {
    right: -225px;
    bottom: 35px;
  }
  .intro_block:nth-child(1) .intro_image_wrapper_single {
    left: -530px;
    bottom: -500px;
  }
  .intro_block:nth-child(2) .intro_image_wrapper {
    left: -225px;
    bottom: -700px;
  }
  .intro_image_wrapper {
    max-width: 550px;
  }
  .intro_image_wrapper_single {
    max-width: 720px;
  }
  .meta {
    font-size: 30px;
    line-height: 1.2;
    margin: 300px 100px 100px 100px;
    row-gap: 50px;
  }
  .meta .date, .meta .publishers {
    width: 450px;
  }
  .meta .accolades {
    width: 700px;
    margin-left: 350px;
  }
  .visit {
    margin: 150px 75px 100px 75px;
  }
  .visit a {
    font-size: 45px;
    line-height: 50px;
    padding: 35px 100px;
  }
  .buy {
    margin: 300px 175px 0px 175px;
    min-height: 250px;
    padding: 150px 37px 150px 37px;
  } 
  .buy h2 {
    position: absolute;
    left: -137px;
    top: -210px;
  }
  .buy .grid {
    padding-right: 37px;
  }
  .buy h3 {
    font-size: 45px;
    letter-spacing: 2px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .buy .grid > div {
    padding-left: 37px;
  }
  .buy .grid a {
    font-size: 25px;
    line-height: 32px;
  }
  .reviews {
    margin-top: 200px;
  }
  .reviews h2 {
    left: 75px;
    top: -50px;
  }
  .reviews .arrow_icon svg {
    height: 80px;
    top: -37px;
    right: 125px;
  }
  .reviews .grid {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 175px;
    column-gap: 150px;
  }
  .excerpt {
    margin-top: 100px;
  }
  .excerpt h2 {
    margin-left: 75px;
    margin-top: -50px;
  }
  .excerpt .text_wrapper {
    margin: 50px 150px 50px 150px;
  }
  .excerpt .text_wrapper p {
   font-size: 30px;
   letter-spacing: 0px;
   line-height: 1.33;
   color: #000; 
  }
  .excerpt .text_wrapper button {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  .gallery {
    margin-top: 250px;
  }
  .gallery h2 {
    left: 75px;
    top: -75px;
    max-width: 960px;
  }
  .gallery .arrow_icon svg {
    height: 75px;
    top: -60px;
    right: 125px;
  }
  .gallery .grid {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 75px;
    column-gap: 75px;
  }
  .links {
    margin-top: 150px;
  }
  .links h2 {
    margin-left: 75px;
  }
  .links .list {
    margin: 100px 150px;
  }
  .links .list a {
    color: #000;
    font-size: 30px;
    line-height: 35px;
  }
  .links .list a:hover {
    color: #00000080;
  }
  .links .list svg {
    height: 30px;
    padding-top: 5px;
  }
}
/* BREAKPOINTS */
@media screen and (max-width: 1279px) {
  .hero {
    margin: 75px 75px 100px 75px;
  }
  .hero h1 {
    line-height: 1;
    margin-bottom: 0;
  }
  .cover_wrapper {
    height: 80vh;
  }
  .intro {
    margin: 0 125px;
    padding: 130px 60px 60px 60px;
  }
  .intro p {
    font-size: 40px;
    letter-spacing: 4px;
    margin-top: 35px;
  }
  .intro_block p {
    margin-bottom: 40px;
  }
  .intro_block:nth-child(1) .intro_image_wrapper {
    right: -185px;
    bottom: 25px;
  }
  .intro_block:nth-child(1) .intro_image_wrapper_single {
    left: -250px;
    bottom: -500px;
  }
  .intro_block:nth-child(2) .intro_image_wrapper {
    left: -185px;
    bottom: -600px;
  }
  .intro_image_wrapper {
    max-width: 450px;
  }
  .intro_image_wrapper_single {
    max-width: 570px;
  }
  .meta {
    font-size: 24px;
    letter-spacing: 0px;
    margin: 200px 100px 100px 100px;
    row-gap: 50px;
  }
  .meta .date, .meta .publishers {
    width: 400px;
  }
  .meta .accolades {
    width: 500px;
    margin-left: 350px;
  }
  .visit {
    margin: 125px 75px 100px 75px;
  }
  .visit a {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
    padding: 25px 75px;
  }
  .buy {
    margin: 200px 125px 0px 125px;
    min-height: 150px;
    padding: 100px 37px 100px 37px;
  } 
  .buy h2 {
    position: absolute;
    left: -100px;
    top: -150px;
  }
  .buy .grid {
    padding-right: 37px;
  }
  .buy h3 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  .buy .grid > div {
    padding-left: 15px;
  }
  .buy .grid a {
    font-size: 18px;
    line-height: 24px;
  }
  .reviews {
    margin-top: 200px;
  }
  .reviews h2 {
    left: 75px;
    top: -50px;
  }
  .reviews .arrow_icon svg {
    height: 70px;
    top: -45px;
    right: 125px;
  }
  .reviews .grid {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 175px;
    column-gap: 75px;
  }
  .excerpt {
    margin-top: 100px;
  }
  .excerpt h2 {
    margin-left: 75px;
    margin-top: -50px;
  }
  .excerpt .text_wrapper {
    margin: 50px 100px 50px 150px;
  }
  .excerpt .text_wrapper p {
   font-size: 24px;
   letter-spacing: 0px;
   line-height: 1.33;
   color: #000; 
  }
  .excerpt .text_wrapper button {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  .gallery {
    margin-top: 250px;
  }
  .gallery h2 {
    left: 75px;
    top: -75px;
    max-width: 720px;
  }
  .gallery .arrow_icon svg {
    height: 60px;
    top: -65px;
    right: 100px;
  }
  .gallery .grid {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 75px;
    column-gap: 75px;
  }
  .links {
    margin-top: 150px;
  }
  .links h2 {
    margin-left: 75px;
  }
  .links .list {
    margin: 50px 150px;
  }
  .links .list a {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0px;
  }
  .links .list svg {
    height: 25px;
    width: 50px;
    padding-top: 4px;
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    margin: 75px 75px 100px 75px;
    display: flex;
    flex-direction: column;
  }
  .hero h1 {
    margin-bottom: 0;
    z-index: 1;
    max-width: 800px;
  }
  .cover_wrapper {
    height: 70vh;
  }  
  .intro {
    margin: 0 75px;
    padding: 100px 0px 60px 0px;
  }
  .intro p {
    font-size: 34px;
    letter-spacing: 3.5px;
    margin-top: 35px;
  }
  .intro_block:nth-child(1) .intro_image_wrapper {
    right: -75px;
    bottom: 0px;
  }
  .intro_block:nth-child(1) .intro_image_wrapper_single {
    left: -250px;
    bottom: -500px;
  }
  .intro_block:nth-child(2) .intro_image_wrapper {
    left: -75px;
    bottom: -500px;
  }
  .intro_image_wrapper {
    max-width: 350px;
  }
  .intro_image_wrapper_single {
    max-width: 450px;
  }
  .meta {
    font-size: 18px;
    margin: 0px 50px 50px 50px;
    row-gap: 25px;
  }
  .meta .date, .meta .publishers {
    width: 40vw;
    max-width: 500px;
    margin-left: 50vw;
  }
  .meta .accolades {
    max-width: 500px;
    width: 40vw;
    margin-left: 50vw;
    align-self: end;
  }
  .visit {
    margin: 100px 75px 75px 75px;
  }
  .visit a {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    padding: 22px 50px;
  }
  .buy {
    margin: 150px 100px 0px 100px;
    padding: 75px 20px 75px 20px;
  } 
  .buy h2 {
    left: -45px;
    top: -150px;
  }
  .buy .grid {
    padding-right: 10px;
  }
  .buy h3 {
    font-size: 34px;
    letter-spacing: 3px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .buy .grid > div {
    padding-left: 10px;
  }
  .buy .grid a {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 18px;
  }
  .reviews {
    margin-top: 150px;
  }
  .reviews h2 {
    left: 75px;
    top: 0px;
  }
  .reviews .arrow_icon svg {
    height: 36px;
    top: 14px;
    right: 75px;
  }
  .reviews .grid {
    padding-left: 125px;
    padding-right: 100px;
    padding-top: 150px;
    column-gap: 50px;
  }
  .excerpt {
    margin-top: 75px;
  }
  .excerpt h2 {
    margin-left: 75px;
    margin-top: -50px;
  }
  .excerpt .text_wrapper {
    margin: 50px 75px 50px 75px;
  }
  .excerpt .text_wrapper p {
    font-size: 18px;
   letter-spacing: 0px;
   color: #000; 
  }
  .excerpt .text_wrapper button {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  .gallery {
    margin-top: 150px;
  }
  .gallery h2 {
    left: 75px;
    top: -75px;
    max-width: 400px;
  }
  .gallery .arrow_icon svg {
    height: 36px;
    top: -62px;
    right: 75px;
  }
  .gallery .grid {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    column-gap: 37px;
  }
  .links {
    margin-top: 100px;
  }
  .links h2 {
    margin-left: 75px;
  }
  .links .list {
    margin: 50px 75px;
  }
  .links .list a {
    font-size: 18px;
    line-height: 22px;
  }
  .links .list svg {
    height: 22px;
    width: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    margin: 75px 37px 75px 37px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .cover_wrapper {
    height: 70vh;
    position: relative;
    z-index: 0;
  }
  .intro {
    margin: 0 37px;
    padding: 37px 0px 60px 0px;
  }
  .intro p {
    font-size: 22px;
    letter-spacing: 2.5px;
    margin-top: 15px;
  }
  .intro_image_wrapper {
    max-width: 350px;
  }
  .intro_image_wrapper_single {
    max-width: 450px;
  }
  .intro_image_wrapper {
    position: static;
    max-width: 690px;
  }
  .intro_image_wrapper_single {
    position: relative;
    max-width: 820px;
  }
  .meta {
    margin: 0px 37px 50px 37px;
    row-gap: 25px;
  }
  .meta .date, .meta .publishers {
    width: 100%;
    margin-left: 0px;
    max-width: unset;
  }
  .meta .accolades {
    width: 100%;
    margin-left: 0px;
    max-width: unset;
  }
  .visit {
    margin: 50px 37px 50px 37px;
  }
  .visit a {
    padding: 22px 37px;
  }
  .buy {
    margin: 150px 37px 0px 37px;
    padding: 50px 37px 50px 0px;
  } 
  .buy h2 {
    left: 0px;
    top: -125px;
  }
  .buy .grid {
    padding-right: 10px;
    flex-direction: column;
    row-gap: 25px;
  }
  .buy h3 {
    font-size: 22px;
    letter-spacing: 2.5px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .buy .grid > div {
    padding-left: 25px;
    border-left: none;
  }
  .buy .grid a {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 18px;
  }
  .reviews {
    margin-top: 100px;
  }
  .reviews h2 {
    left: 37px;
    top: 0px;
  }
  .reviews .arrow_icon svg {
    height: 22px;
    top: 4px;
    right: 37px;
  }
  .reviews .arrow_icon svg path {
    stroke-width: 1px;
  }
  .reviews .grid {
    padding-left: 37px;
    padding-right: 75px;
    padding-top: 100px;
    column-gap: 37px;
  }
  .excerpt {
    margin-top: 37px;
  }
  .excerpt h2 {
    margin-left: 37px;
    margin-top: -50px;
  }
  .excerpt .text_wrapper {
    margin: 50px 37px 50px 37px;
  }
  .gallery {
    margin-top: 125px;
  }
  .gallery h2 {
    left: 37px;
    top: -50px;
    max-width: 400px;
  }
  .gallery .arrow_icon svg {
    height: 22px;
    top: -48px;
    right: 37px;
  }
  .gallery .arrow_icon svg path {
    stroke-width: 1px;
  }
  .gallery .grid {
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 37px;
    column-gap: 25px;
  }
  .links {
    margin-top: 100px;
  }
  .links h2 {
    margin-left: 37px;
  }
  .links .list {
    margin: 50px 37px;
  }
  .links .list a {
    font-size: 18px;
    line-height: 22px;
  }
  .links .list svg {
    height: 16px;
    width: 25px;
  }
  .links .list svg path, .links .list svg rect {
    stroke-width: 1px;
  }
}