.item {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 50px;
  cursor: pointer;
  margin-left: 4rem;
  position: relative;
}

.item:first-of-type {
  margin-left: 175px;
}

.item:last-of-type {
  margin-right: 175px;
}

.cover_wrapper {
  height: 640px;
  width: 428px;
  position: relative;
  z-index: 1;
}

.cover_shadow {
  position: absolute;
  bottom: -50px;
  left: -50px;
  right: -50px;
  height: 200px;
  z-index: -2;
  transition: transform 500ms ease-out;
}

.cover_image {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 500ms ease-out, -webkit-filter 500ms ease-out, mix-blend-mode 500ms ease-out;
}

.cover_image_overlay {
  opacity: 0;
  transition: all 500ms ease-out;
}

.item:hover {
  z-index: 3;
}

.cover_wrapper .cover_image, .cover_wrapper svg {
  transition: transform 500ms ease-out;
}

.item:hover .cover_image, .item:hover .cover_image_overlay, .item:hover svg {
  transform: translateY(-10px);
}

.item:hover .cover_image_overlay {
  opacity: 1;
}

.item:hover .cover_shadow {
  transform: scale(1.05);
}


.info {
  display: flex;
  position: relative;
  border-top: 2px solid #fff;
  width: 310px;
  height: 60px;
  align-self: center;
  padding: 2rem;
  transform: translate(0, 50%);
}

.listing .info {
  align-self: flex-start;
  margin-top: 100px;
  flex-direction: column;
  justify-content: space-between;
}

.info h3 {
  color: #000;
  font-family: var(--font-sans);
  letter-spacing: -1px;
  white-space: pre;
  transition: all 500ms ease-out;
}

.listing .options {
  margin-top: 50px;
}

.listing .info a {
  color: #000000BF;
  font-family: var(--font-sans);
  display: inline-block;
  padding: 1rem;
  font-size: 25px;
  letter-spacing: 1.25px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.09);
  text-transform: uppercase;
  margin-bottom: 16px;
  cursor: pointer;
  z-index: 11;
}

.item:hover .listing .info a {
  background-color: rgba(0, 0, 0, 0.2);
}

.listing .info a:last-child {
  margin-bottom: 0px;
}

.item:hover .info h3 {
  color: #fff;
  transform: translateX(-10px);
}