.heading h1 {
  margin-left: 100px;
  margin-top: 0px;
  pointer-events: none;
}

.sections {
  padding-top: 200px;
  position: relative;
  width: 100%;
}

.sections .wrapper {
  background-color: rgba(0, 0, 0, 0.09);
  margin: 0 200px;
  min-height: 480px;
  padding: 200px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.sections .h2_wrapper {
  position: absolute;
  left:100px;
  top: 200px;
  max-width: 800px;
}

@media screen and (max-width: 1919px) {
  .heading h1 {
    margin-left: 75px;
  }
  .sections {
    padding-top: 200px;
  }
  .sections .wrapper {
    margin: 0 150px;
    padding: 150px 75px 75px 75px;
  }   
}

@media screen and (max-width: 1279px) {
  .heading h1 {
    margin-left: 75px;
  }
  .sections {
    padding-top: 200px;
  }
  .sections .wrapper {
    margin: 0 125px;
    padding: 130px 60px 60px 60px;
    row-gap: 25px;
  }   
}

@media screen and (max-width: 1023px) {
  .heading h1 {
    margin-left: 50px;
  }
  .sections {
    padding-top: 150px;
  }
  .sections .wrapper {
    margin: 0 80px;
    min-height: 240px;
    padding: 80px 40px 40px 36px;
    row-gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .heading h1 {
    margin-left: 37px;
  }
  .sections {
    padding-top: 100px;
  }
  .sections .wrapper {
    margin: 0 40px 0 37px;
    min-height: 180px;
    padding: 37px 0px 0px 0px;
    row-gap: 10px;
    background-color: transparent;
  }
}