.item {
display: grid;
grid-template-columns: 4fr 6fr 1.25fr;
border-top: 2px solid #fff;
padding-bottom: 50px;
column-gap: 10px;
}

.item h3 {
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  padding-top: 10px;
  line-height: 50px;
}

.date {
  width: fit-content;
  white-space: pre;
}

.info span {
  white-space: pre-wrap;
}

.info, .date {
  color: #000;
  font-size: 40px;
  padding-top: 20px;
  line-height: 50px;
}

.info span, .date span {
  opacity: 50%;
}

.info a {
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1.25px;
  padding-top: 10px;
}

/* BREAKPOINTS */
@media screen and (max-width: 1919px) {
  .item {
    grid-template-columns: 4fr 6fr 3fr;
    padding-bottom: 25px;
  }
  .item h3 {
    font-size: 55px;
    letter-spacing: 5.5px;
    padding-top: 25px;
  }
  .info, .date {
    font-size: 30px;
    padding-top: 20px;
    line-height: 35px;
  }
  .info a {
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 8px;
  }
}

@media screen and (max-width: 1279px) {
  .item {
    grid-template-columns: 4fr 6fr 3fr;
    padding-bottom: 25px;
  }
  .item h3 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 80px;
    padding-top: 0px;
  }
  .info, .date {
    font-size: 24px;
    padding-top: 20px;
    line-height: 30px;
  }
  .info a {
    font-size: 15px;
    letter-spacing: 0.75px;
    padding-top: 9px;
  }
}

@media screen and (max-width: 1023px) {
  .item {
    grid-template-columns: 4fr 6fr 3fr;
    padding-bottom: 15px;
  }
  .item h3 {
    font-size: 34px;
    letter-spacing: 3.5px;
    line-height:60px;
    padding-top: 0px;
  }
  .info, .date {
    font-size: 18px;
    padding-top: 15px;
    line-height: 22px;
  }
  .info a {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .item {
    display: block;
    padding-bottom: 20px;
    border-width: 1px;
  }
  .item h3 {
    font-size: 22px;
    letter-spacing: 2.5px;
    line-height: 20px;
    padding-top: 15px;
  }
}