.footer {
  margin: 0 150px;
  padding-top: 300px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  position: relative;
}

.socials .h2 {
  position: absolute;
  top: -75px;
  left: -50px;
  pointer-events: none;
}

.h2 {
  font-family: var(--font-serif);
  font-weight: 400;
  margin: 0;
  font-size: 150px;
  letter-spacing: 0.65rem;
  line-height: 150px;
  text-transform: uppercase;
}

.socials a {
  width: 100%;
  height: 165px;
  color: #000;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  background: rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a:hover {
  background: rgba(0, 0, 0, 0.18);
  z-index: 3;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 300px;
  font-size: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
}

.nav {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.wrapper a:hover, .nav a:focus {
  color: #00000080;
}

.copyright {
  opacity: 0.5;
}