.wrapper {
  width: 600px;
  height: 600px;
  position: relative;
  z-index: 1;
}

.image {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 500ms ease-out;
}

.gallery_item .image_overlay {
  opacity: 0;
  transition: all 500ms ease-out;
}

.gallery_item:hover {
  z-index: 3;
}

.wrapper .image, .wrapper div {
  transition: all 500ms ease-out;
}

.gallery_item:hover .image, .gallery_item:hover .wrapper div, .gallery_item:hover .image_overlay {
  transform: translateY(-10px);
}

.gallery_item:hover .image_overlay {
  opacity: 1;
}

/* BREAKPOINTS */
@media screen and (max-width: 1919px) {
  .wrapper {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 1279px) {
  .wrapper {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    width: 400px;
    height: 400px;
  }
}