.item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.cover_wrapper {
  height: 460px;
  width: 720px;
  position: relative;
  display: block;
}

.cover_image {
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 500ms ease-out;
  z-index: 1;
}

.cover_image_overlay {
  opacity: 0;
  transition: all 500ms ease-out;
  z-index: 2;
}

.item:hover {
  z-index: 3;
}

.item:hover .cover_image, .item:hover .cover_image_overlay {
  transform: translateY(-10px);
}

.item:hover .cover_image_overlay {
  opacity: 1;
}

.item h3 {
  font-size: 60px;
  color: #000;
  font-family: var(--font-sans);
  line-height: 70px;
  margin-left: 40px;
  margin-top: 40px;
  z-index: 4;
  transition: all 500ms ease-out;
}

.item:hover h3 {
  color: #fff;
  transform: translateY(-10px);
}

.item:hover .share_btn {
  transform: translateY(-10px);
}

.item .text {
  padding: 10px 10px 0 40px;
  font-size: 40px;
  color: #000;
  line-height: 50px;
}

.share_btn {
  position: absolute;
  left: 40px;
  bottom: -68px;
  width:100px;
  height: 100px;
  z-index: 4;
  transition: all 500ms ease-out;
}