.review_item {
  border-top: #fff 2px solid;
  min-width: 990px;
}

.review_item h3 {
  font-size: 75px;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 7.5px;
  margin: 25px 0px;
}

.review_item blockquote {
  font-size: 60px;
  line-height: 70px;
  color: #000;
  letter-spacing: 0px;
}

.review_item .link {
  margin-top: 25px;
}